---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/maid.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.189.148.120:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"maid","downloads":147869,"version":"0.10.0","version_created_at":"2023-05-01T12:56:03.070Z","version_downloads":1206,"platform":"ruby","authors":"Benjamin
        Oakes, Coaxial","info":"Be lazy. Let Maid clean up after you, based on rules
        you define. Think of it as \"Hazel for hackers\".","licenses":["GPL-2.0"],"metadata":{"wiki_uri":"https://github.com/maid/maid/wiki","changelog_uri":"https://github.com/maid/maid/blob/master/CHANGELOG.md","bug_tracker_uri":"https://github.com/maid/maid/issues","source_code_uri":"https://github.com/maid/maid","documentation_uri":"https://github.com/maid/maid/blob/master/README.md","rubygems_mfa_required":"true"},"yanked":false,"sha":"a935ed74013f19867aa6f74020d690a94f0d671c031a6e63062152df1f87346c","spec_sha":"25890519587dc934e2c78f9bcd495c8a92ed5409fe914e2a0a4ddf82697b2bea","project_uri":"https://rubygems.org/gems/maid","gem_uri":"https://rubygems.org/gems/maid-0.10.0.gem","homepage_uri":"http://github.com/maid/maid","wiki_uri":"https://github.com/maid/maid/wiki","documentation_uri":"https://github.com/maid/maid/blob/master/README.md","mailing_list_uri":null,"source_code_uri":"https://github.com/maid/maid","bug_tracker_uri":"https://github.com/maid/maid/issues","changelog_uri":"https://github.com/maid/maid/blob/master/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[{"name":"fakefs","requirements":"~\u003e
        2.4.0"},{"name":"fuubar","requirements":"\u003e= 0"},{"name":"guard","requirements":"~\u003e
        2.18.0"},{"name":"guard-bundler","requirements":"~\u003e 3.0.1"},{"name":"guard-rspec","requirements":"~\u003e
        4.7.3"},{"name":"guard-rubocop","requirements":"\u003e= 0"},{"name":"pry-byebug","requirements":"\u003e=
        0"},{"name":"rake","requirements":"~\u003e 13.0.6"},{"name":"rake-notes","requirements":"\u003e=
        0"},{"name":"rb-fsevent","requirements":"~\u003e 0.11.2"},{"name":"rb-inotify","requirements":"~\u003e
        0.10.1"},{"name":"redcarpet","requirements":"~\u003e 3.6.0"},{"name":"rspec","requirements":"~\u003e
        3.12.0"},{"name":"rubocop","requirements":"\u003e= 0"},{"name":"rubocop-rake","requirements":"\u003e=
        0"},{"name":"rubocop-rspec","requirements":"\u003e= 0"},{"name":"simplecov","requirements":"\u003e=
        0"},{"name":"timecop","requirements":"~\u003e 0.9.6"},{"name":"vcr","requirements":"~\u003e
        6.1.0"},{"name":"webmock","requirements":"~\u003e 3.18.1"},{"name":"yard","requirements":"\u003e=
        0.9.11"}],"runtime":[{"name":"deprecated","requirements":"~\u003e 3.0.0"},{"name":"dimensions","requirements":"\u003e=
        1.0.0, \u003c 2.0"},{"name":"escape","requirements":"\u003e= 0.0.1, \u003c
        0.1.0"},{"name":"exifr","requirements":"~\u003e 1.3.10"},{"name":"geocoder","requirements":"~\u003e
        1.8.1"},{"name":"listen","requirements":"~\u003e 3.8.0"},{"name":"mime-types","requirements":"~\u003e
        3.0, \u003c 4.0"},{"name":"rubyzip","requirements":"~\u003e 2.3.2"},{"name":"rufus-scheduler","requirements":"~\u003e
        3.8.2"},{"name":"thor","requirements":"~\u003e 1.2.1"},{"name":"xdg","requirements":"~\u003e
        2.2.3"}]}}'
  recorded_at: Fri, 12 Jul 2024 21:10:28 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/gems.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.25.82.247:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"gems","downloads":32337664,"version":"1.2.0","version_created_at":"2019-09-26T07:12:34.431Z","version_downloads":24477917,"platform":"ruby","authors":"Erik
        Michaels-Ober","info":"Ruby wrapper for the RubyGems.org API","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"343d74bd54d906f38193f3ccd983f9d08c4b54cd01ee7e5fe8467ab41a9946f0","spec_sha":"fbe30645252fd72a57f747c7387d2baf8007634e27b5a30ea165cb2c25a6f617","project_uri":"https://rubygems.org/gems/gems","gem_uri":"https://rubygems.org/gems/gems-1.2.0.gem","homepage_uri":"https://github.com/rubygems/gems","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/gems/1.2.0","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Fri, 12 Jul 2024 21:10:28 GMT
recorded_with: VCR 6.2.0
